<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/css/main.css">
  

 <title>Flashcard Project</title>
 <style>
 </style>
</head>

<body>

 <div class="container"  style=" display: grid; grid-template-columns: repeat(23, 1fr)">
  <div class="row">
    <h3 class="text-capitalize" style="margin-bottom: 13px;margin-left: 13px;">Quiz Generator</h3>
    <br>
    <a href="/topics" style="padding-left: 9px;padding-top: 5px;">see topics</a>
   <div class="col-11 col-lg-6 my-3">

    <body>
        <div id="maincontentstyle">
        <div id="boxstyle">
            <div>
            <div id="inputs">
                    <div id="inputBoxes" style="display: grid;
                    grid-template-columns: 2fr repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    grid-column-gap: 9px;
                    grid-row-gap: 13px;">
                        <title>Input:</title>
                        <div>
                        Topic: <input id= "topic" type="text" value="">
                        </div>
                        <div>
                        ID: <input id= "ID" type="text" value="">
                        </div>   
                        <div>
                        Category: <input id="category" type="text" value="">
                        </div>
                        <div>
                        prompt 1: <input id="pl1" type="text" value=""> 
                        </div>
                        <div>
                        question 1: <input id="ql1" type="text" value=""> 
                        </div>
                        <div>
                        answer 1: <input id="al1" type="text" value=""> 
                        </div>
                    </div>
                    <span style="padding: 3px">
                    <button id ="add_more" class="button" type="button" onClick="add_more()" style="padding-top: 1px;margin-top: 15px;">Add More</button>
                    <button id ="add_more" class="button" type="button" onClick="save()">Save</button>
                    </span>
                    <br>
                    <br>
                    <h5>
                        See my process maps from  <a href="https://lucid.app/lucidchart/8c0c3e0a-a731-45d9-9f0f-b42a64a34ba2/view">Lucidchart</a> where I have been documenting this app and brainstorming some ideas
                    </h5>
                </div>
                </div>
            </div>
        </div>
   </div>
  </div>

   </div>

  </div>
 </div>

 




 <!-- jquery -->
 
</body>

</html>
<script type="text/javascript" src="/static/js/app.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    var numberOfInputs = 1;

    function add_more() {
    // we've added more inputs.
    addMore = true;

    // set html generated to false, because new inputs have been added.
    htmlGenerated = false;
    
    // increment the number of inputs.
    numberOfInputs++;

    //fetch the input boxes.
    inputs = document.getElementById("inputBoxes");

    // create newline
    br = document.createElement("br");

    // //create a new row for a prompt term.
    row0 = document.createElement("div");

    // // set the key term text.
    row0.innerHTML = "Prompt ";
    row0.innerHTML +=numberOfInputs;
    row0.innerHTML +=" :";

    // // create the input for the prompt.
    key = document.createElement("input");
    key.setAttribute("id","pl"+numberOfInputs);

    // //add the key to the row.
    row0.appendChild(key);
    row0.after(br);
    
    //create a new row for a key term.
    row1 = document.createElement("div");

    // set the key term text.
    row1.innerHTML = "Question ";
    row1.innerHTML +=numberOfInputs;
    row1.innerHTML +=" :";

    // create the input for the key.
    key = document.createElement("input");
    key.setAttribute("id","ql"+numberOfInputs);

    //add the key to the row.
    row1.appendChild(key);
    row1.after(br);

    //create a row for the new description.
    row2 = document.createElement("div");

    // set the description text.
    row2.innerHTML = "Answer  "
    row2.innerHTML+=numberOfInputs;
    row2.innerHTML+=" :";
    row2.after(br);

    // create the description input
    description = document.createElement("input");
    description.setAttribute("id","al"+numberOfInputs);

    // add the description to the row.
    row2.appendChild(description);

    // add the rows for the key and the description to the inputBoxes.
    inputs.appendChild(row0);
    inputs.appendChild(row1);
    inputs.appendChild(row2);
    }
</script>